---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign journal_papers = site.publications | where: "category", "manuscripts" %}
{% assign conference_papers = site.publications | where: "category", "conferences" %}

{% if journal_papers.size > 0 %}
  <h2>Journals</h2><hr />
  {% for post in journal_papers reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

{% if conference_papers.size > 0 %}
  <h2>Conference Papers</h2><hr />
  {% for post in conference_papers reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



