---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign has_journal_papers = false %}
{% assign has_conference_papers = false %}

{% for post in site.publications %}
  {% if post.publication_type == 'journal' %}
    {% assign has_journal_papers = true %}
  {% endif %}
  {% if post.publication_type == 'conference' %}
    {% assign has_conference_papers = true %}
  {% endif %}
{% endfor %}

{% if has_journal_papers %}
  <h2>Journals</h2><hr />
  {% for post in site.publications reversed %}
    {% if post.publication_type == 'journal' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if has_conference_papers %}
  <h2>Conference Papers</h2><hr />
  {% for post in site.publications reversed %}
    {% if post.publication_type == 'conference' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endif %}



